/* god theme: Call me to include god in your SASS projects.*/

main > h1 {
  font-size: 300%;
  padding-left: 12px;
}

main > h2 {
  font-size: 208.3%;
}

main > h3 {
  font-size: 153.3%;
}

main > h4 {
  font-size: 116.7%;
}

main > h5 {
  font-size: 98.3%;
}

main > h6 {
  font-size: 80%;
}

main > h1,
main > h2,
main > h3,
main > h4,
main > h5,
main > h6,
main > p,
main > ul,
main > ol,
main > dl,
main > div,
main > table,
main > form,
main > section,
main > pre,
main > button,
main > a,
main > footer {
  box-sizing: border-box;
  display: block;
  float: none;
  margin-block-end: 0;
  margin-block-start: 0;
  margin-left: 20% !important;
  margin-right: 20% !important;
  padding: 12px 3%;
}

@media screen and (min-width: 601px) and (max-width: 900px) {
  main > h1,
  main > h2,
  main > h3,
  main > h4,
  main > h5,
  main > h6,
  main > p,
  main > ul,
  main > ol,
  main > dl,
  main > div,
  main > table,
  main > form,
  main > section,
  main > pre,
  main > button,
  main > a,
  main > footer {
    margin-block-end: 0;
    margin-block-start: 0;
    margin-left: 16% !important;
    margin-right: 16% !important;
  }
}

@media screen and (max-width: 600px) {
  main > h1,
  main > h2,
  main > h3,
  main > h4,
  main > h5,
  main > h6,
  main > p,
  main > ul,
  main > ol,
  main > dl,
  main > div,
  main > table,
  main > form,
  main > section,
  main > pre,
  main > button,
  main > a,
  main > footer {
    margin-block-end: 0;
    margin-block-start: 0;
    margin-left: 12px !important;
    margin-right: 12px !important;
    padding: 3px;
  }
}

main > blockquote,
main > summary,
main > figure {
  box-sizing: border-box;
  display: inline-block;
  margin-left: 0 !important;
  margin-right: 0 !important;
  padding: 12px 3%;
  width: 17% !important;
  break-before: always !important;
  /* give way on right */
  clear: right;
  float: right;
  margin-left: 3% !important;
}

@media screen and (min-width: 601px) and (max-width: 900px) {
  main > blockquote,
  main > summary,
  main > figure {
    width: 19.85% !important;
  }
}

@media screen and (min-width: 1201px) {
  main > blockquote,
  main > summary,
  main > figure {
    width: 16.145% !important;
  }
}

main > nav,
main > aside,
main > fieldset {
  box-sizing: border-box;
  display: inline-block;
  margin-left: 0 !important;
  margin-right: 0 !important;
  padding: 12px 3%;
  width: 17% !important;
  clear: left;
  float: left;
  margin-right: 3% !important;
}

@media screen and (min-width: 601px) and (max-width: 900px) {
  main > nav,
  main > aside,
  main > fieldset {
    full: 2.85%;
    width: 19.85% !important;
  }
}

@media screen and (min-width: 1201px) {
  main > nav,
  main > aside,
  main > fieldset {
    full: 2.85%;
    width: 16.145% !important;
  }
}

@media screen and (max-width: 600px) {
  main > blockquote,
  main > summary,
  main > figure,
  main > nav,
  main > aside,
  main > fieldset {
    box-sizing: border-box;
    display: inline-block;
    margin-left: 0 !important;
    margin-right: 0 !important;
    padding: 12px 3%;
    width: 100% !important;
    display: block !important;
    float: none !important;
    text-align: left;
  }
}

@media screen and (min-width: 601px) and (max-width: 900px) {
  main > blockquote,
  main > summary,
  main > figure,
  main > nav,
  main > aside,
  main > fieldset {
    margin-bottom: 15.6px !important;
  }
}

@media screen and (min-width: 901px) and (max-width: 1200px) {
  main > blockquote,
  main > summary,
  main > figure,
  main > nav,
  main > aside,
  main > fieldset {
    margin-bottom: 19.2px !important;
  }
}

@media screen and (min-width: 1201px) {
  main > blockquote,
  main > summary,
  main > figure,
  main > nav,
  main > aside,
  main > fieldset {
    margin-bottom: 22.8px !important;
  }
}

main > ol > li {
  margin-left: 12px !important;
}

main > ol > li > * {
  display: inline;
}

@media screen and (max-width: 900px) {
  main > ol > li {
    list-style: inside;
  }
}

main > ul > li {
  margin-left: 12px !important;
}

main > ul > li > * {
  display: inline;
}

@media screen and (max-width: 900px) {
  main > ul > li {
    list-style: inside;
  }
}

/* eve theme: Call me to include eve in your SASS projects.*/

/* adon theme: Call me to include adon in your SASS projects.*/

main > .adonStatus-disabled {
  background: #a9a9a9;
  border: 0;
  color: #d3d3d3;
}

main > .adonStatus-error {
  background: red;
  border: 0;
  color: #000;
}

main > .adonStatus-fixed {
  position: fixed;
}

main > .adonStatus-sticky {
  position: sticky;
}

@media screen and (min-width: 901px) and (max-width: 1200px) {
  main > .adonStatus-sticky {
    position: relative;
  }

  main > .adonStatus-fixed {
    position: relative;
  }
}

main > .adonToolBar {
  height: 48px !important;
  max-height: 48px !important;
  min-height: 48px !important;
  cursor: pointer;
  margin-top: 12px !important;
  margin-bottom: 0 !important;
  padding-top: 12px !important;
  padding-bottom: 12px !important;
  transition: all 0.5s ease-in-out;
}

@media screen and (max-width: 900px) {
  main > .adonToolBar {
    height: 32px !important;
    max-height: 32px !important;
    min-height: 32px !important;
    width: 32px !important;
    max-width: 32px !important;
    min-width: 32px !important;
    text-align: center !important;
  }
}

main > .adonToolBar.slavehidden {
  margin-top: 12px !important;
  background-color: #000 !important;
}

main > .adonToolSlave {
  margin-top: 0 !important;
  opacity: 1;
  transition: visibility 0.5s linear 0s, all 0.5s;
  visibility: visible;
}

main > .adonToolSlave.slavehidden {
  height: 0 !important;
  max-height: 0 !important;
  min-height: 0 !important;
  opacity: 0;
  overflow: hidden;
  padding: 0 0 !important;
  line-height: 0;
  transition: visibility 0s linear 0.5s, all 0s;
  transition-timing-function: ease;
  visibility: hidden;
}

main > blockquote.adonToolBar,
main > summary.adonToolBar,
main > figure.adonToolBar {
  text-align: right !important;
}

@media screen and (max-width: 900px) {
  main > blockquote.adonToolBar,
  main > summary.adonToolBar,
  main > figure.adonToolBar {
    float: right !important;
    text-align: center !important;
  }
}

@media screen and (max-width: 900px) {
  main > .adonHideOnScrollDown {
    transition: all 0.5s;
    transition-timing-function: ease-in;
    -webkit-transition: all 0.5s;
    -webkit-transition-timing-function: ease-in;
  }

  main > .adonHideOnScrollDown.adonHide {
    position: absolute;
    position: -webkit-absolute;
    top: -500px;
  }
}

main > .adonNavScrollLink {
  cursor: pointer !important;
}

main > .adonNavScrollLink.adonnavactive {
  background-color: #000 !important;
  color: #fff;
}

/* innocent theme: Call me to include innocent in your SASS projects.*/

body {
  font-family: "Montserrat";
}

main > menu {
  box-sizing: border-box;
  position: relative;
}

main > menu:after {
  clear: both;
  content: "";
  display: block;
  height: 0;
  width: 0;
}

main > menu * {
  box-sizing: border-box;
}

main > menu a {
  text-decoration: none;
}

main > menu label {
  font-weight: bold;
}

main > menu a,
main > menu label {
  cursor: pointer;
  display: block;
  padding: 3px 12px;
  white-space: nowrap;
}

main > menu menu,
main > menu nav {
  margin: 0;
  padding: 0;
}

main > menu menu > nav menu,
main > menu menu > nav nav {
  display: none;
}

main > menu menu:hover > nav {
  max-height: 500px;
  opacity: 1;
  visibility: visible;
}

main > menu > a,
main > menu > menu,
main > menu > nav {
  float: left;
}

main > menu menu:hover > label + menu,
main > menu menu:hover > label + nav,
main > menu nav:hover > label + menu,
main > menu nav:hover > label + nav {
  position: absolute;
}

main > nav {
  box-sizing: border-box;
  background: #666;
  color: #fff;
}

main > nav:after {
  clear: both;
  content: "";
  display: block;
  height: 0;
  width: 0;
}

main > nav * {
  box-sizing: border-box;
}

main > nav a {
  text-decoration: none;
  display: block;
}

main > nav label {
  font-weight: bold;
}

main > nav a,
main > nav label {
  cursor: pointer;
  display: block;
  padding-right: 0;
  white-space: nowrap;
}

main > nav menu,
main > nav nav {
  margin: 0;
  padding: 0;
  position: relative;
}

main > nav menu > nav menu,
main > nav menu > nav nav {
  display: none;
}

main > nav menu:hover > nav {
  max-height: 500px;
  opacity: 1;
  visibility: visible;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: "Montserrat";
}

details {
  background: #666;
  border: #006400 1px solid;
  color: #000;
  padding: 0;
}

details summary {
  background: #006400;
  border: 0;
  color: #fff;
  font-family: "Montserrat";
  cursor: pointer;
}

details > * {
  padding: 3px 12px;
}

dl {
  padding-bottom: 12px;
  padding-top: 12px;
}

dl > dt {
  font: 800 156% "Montserrat";
  padding-top: 12px;
}

dl > dd {
  margin-left: 0;
  padding-bottom: 12px;
}

figure {
  border: 2px #666 solid;
  box-sizing: border-box;
  padding: 12px 12px !important;
}

figure img {
  box-sizing: border-box;
  height: auto;
  width: 100%;
}

figure figcaption {
  color: #000;
  font-family: "Montserrat";
  margin-top: 12px;
}

@media screen and (max-width: 600px) {
  figure {
    margin-left: 3% !important;
    margin-right: 3% !important;
    width: 94% !important;
  }
}

form label {
  margin-top: 12px;
}

form legend {
  font-size: 156%;
  font-weight: bold;
  margin-bottom: 3%;
  margin-top: 3%;
}

form label,
form legend {
  color: #006400;
  font-family: "Montserrat";
}

form textarea {
  width: 100%;
}

form input[type="checkbox"],
form input[type="radio"] {
  margin-right: 3px;
}

form input[type="checkbox"] + label,
form input[type="radio"] + label {
  color: #006400;
  font-family: "Montserrat";
  display: inline-block;
  margin-right: 12px;
  page-break-before: avoid;
}

form fieldset {
  border: 2px #666 solid;
  margin-top: 12px;
  padding: 0 12px;
}

form fieldset label {
  display: block;
}

form fieldset button,
form fieldset input,
form fieldset select,
form fieldset textarea {
  box-sizing: border-box;
  margin-bottom: 12px;
}

form fieldset input[type="email"],
form fieldset input[type="number"],
form fieldset input[type="password"],
form fieldset input[type="search"],
form fieldset input[type="tel"],
form fieldset input[type="text"],
form fieldset input[type="url"],
form fieldset select,
form fieldset textarea {
  box-sizing: border-box;
  padding: 3px;
  width: 100%;
}

form fieldset input:not([type]) {
  box-sizing: border-box;
  padding: 3px;
  width: 100%;
}

form fieldset input[type="color"],
form fieldset input[type="range"] {
  display: inline-block;
  margin-bottom: 12px;
  vertical-align: middle;
}

form fieldset input[type="date"],
form fieldset input[type="time"],
form fieldset input[type="datetime"],
form fieldset input[type="datetime-local"],
form fieldset input[type="month"],
form fieldset input[type="week"] {
  margin-bottom: 12px;
}

form fieldset button,
form fieldset input[type="submit"],
form fieldset input[type="reset"] {
  cursor: pointer;
}

@media screen and (max-width: 600px) {
  form {
    margin-left: 3% !important;
    margin-right: 3% !important;
    width: 94%;
  }
}

header {
  font-size: 156%;
  padding: 3%;
  text-align: center;
}

header h1,
header h2,
header h3,
header h4,
header h5,
header h6 {
  margin-bottom: 12px;
  margin-top: 12px;
}

hr {
  border: 2px #666 solid;
  margin-bottom: 12px;
  margin-top: 12px;
}

img {
  height: auto;
  padding-left: 0 !important;
  padding-right: 0 !important;
}

@media screen and (max-width: 900px) {
  img {
    margin-left: 3% !important;
    margin-right: 3% !important;
  }
}

pre {
  background: #666;
  border: 0;
  color: #000;
  overflow-x: scroll;
  margin-top: 3%;
  padding-top: 3%;
  padding-bottom: 3%;
  white-space: pre;
  word-break: keep-all;
}

@media screen and (max-width: 600px) {
  pre {
    margin-left: 3% !important;
    margin-right: 3% !important;
    width: 94% !important;
  }
}

table {
  display: table !important;
  text-align: left;
}

table td,
table th {
  padding: 3px 12px;
}

table > thead th,
table > tfoot th,
table > tbody th {
  color: #000;
  font-family: "Montserrat";
  font-weight: 800;
}

table > thead th {
  border-bottom: 2px solid #666;
}

table > tfoot th {
  border-top: 2px solid #666;
  text-align: right;
}

table > tbody td,
table > tbody th {
  border-bottom: 2px solid #666;
}

@media screen and (max-width: 600px) {
  table {
    margin-left: 3% !important;
    margin-right: 3% !important;
    width: 94%;
  }
}

a {
  text-decoration: none;
}

big {
  font-size: 156%;
}

input[type="file"],
button {
  background: #fff;
  color: #000;
  border-radius: 5px;
  border: 2px #666 solid;
  cursor: pointer;
  display: inline-block;
  font-size: 80%;
  padding: 3px 12px;
  text-decoration: none;
}

input[type="file"] > img,
button > img {
  max-height: 88px;
  height: auto;
}

input[type="file"]:hover,
input[type="file"].selected,
input[type="file"].active,
button:hover,
button.selected,
button.active {
  background: #000;
  border: 2px #666 solid;
  color: #fff;
}

input[type="file"]:disabled,
button:disabled {
  background: #000;
  border: 0;
  color: #fff;
  cursor: not-allowed;
}

input[type="file"] big,
button big {
  font-weight: bold;
  vertical-align: middle;
}

code {
  background: rgba(102, 102, 102, 0.3);
  border: 0;
  color: #000;
  padding: 0 3px;
  word-break: keep-all;
}

pre > code {
  background: inherit;
  border: 0;
  color: inherit;
  overflow-x: scroll;
  white-space: pre;
}

kbd {
  background: #000;
  border: 0;
  color: #fff;
  border-radius: 6px;
  padding: 3px 12px;
}

small {
  font-size: 156%;
}

main > footer {
  background: #666;
  margin-top: 60px;
  border-top: 2px solid #666;
}

main > figure {
  border: none;
}

main > pre {
  background: none;
  color: #000;
  font-size: 156%;
}

main > button > a {
  display: block;
  padding: 3px 120px 3px 10px !important;
  text-align: center;
  color: #00f;
  width: 100% !important;
}

main > button:hover > a {
  color: #fff;
}

main > nav nav {
  button-break-after: always;
  button-border: solid red 1px !important;
}
